In [1]:
import numpy as np
import pandas as pd

Read the startup_funding.csv file

In [20]:
df = pd.read_csv('startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

Inspect the columns and rows

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

Here the column 'Remarks' doesn't have any value other than NaN values (check the excel file).
So,there is no need for that column

In [22]:
df.drop(columns=['Remarks'],inplace=True)

In [23]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

Let's now customize the index with Sr No. rather than in-built index

In [24]:
df.set_index('Sr No',inplace=True)

Column names for these dataframes are not proper.Let's change them

In [25]:
df.rename(columns={
    'Date dd/mm/yyyy':'date',
    'Startup Name':'startup',
    'Industry Vertical':'vertical',
    'SubVertical':'subvertical',
    'City  Location':'city',
    'Investors Name':'investors',
    'InvestmentnType':'round',
    'Amount in USD':'amount'
},inplace=True)

In [26]:
df.head(2)

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"

Amount column has Null values and some other values like undisclosed,unkown.Clean it

In [27]:
df['amount']=df['amount'].fillna('0')
df['amount']=df['amount'].str.replace(",","")
df['amount']=df['amount'].str.replace("undisclosed","0")
df['amount']=df['amount'].str.replace("Undisclosed","0")
df['amount']=df['amount'].str.replace("unknown","0")

Verify the amount column that it has only digits

In [28]:
df['amount'].str.isdigit()

Sr No
1       True
2       True
3       True
4       True
5       True
        ...
3040    True
3041    True
3042    True
3043    True
3044    True
Name: amount, Length: 3044, dtype: bool

In [29]:
df = df[df['amount'].str.isdigit()]

Change the amount type from string to float to hold currency

In [30]:
df['amount'] = df['amount'].astype('float')

Inspect the amount column

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3029 non-null   object
 1   startup      3029 non-null   object
 2   vertical     2858 non-null   object
 3   subvertical  2104 non-null   object
 4   city         2849 non-null   object
 5   investors    3005 non-null   object
 6   round        3027 non-null   object
 7   amount       3029 non-null   float64
dtypes: float64(1), object(7)
memory usage: 213.0+ KB

Now amount column is completed fixed but the amount is represented i dollars,convert that into rupees

In [32]:
def into_rupees(dollar):
    inr = dollar * 82.5
    return inr/10000000
df['amount'] = df['amount'].apply(into_rupees)

In [33]:
df.head(2)

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.00000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.39925

amount column is cleaned.Now focus on date column

In [34]:
# Clean and convert 'date' column
df['date'] = df['date'].str.strip()  # Remove leading/trailing spaces
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')  # Try standard parsing first

# Handle remaining NaT with dateutil
mask = df['date'].isna()  # Rows still NaT
df.loc[mask, 'date'] = df.loc[mask, 'date'].apply(lambda x: parse(x, dayfirst=True) if pd.notna(x) else pd.NaT)

In [35]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3022 non-null   datetime64[ns]
 1   startup      3029 non-null   object
 2   vertical     2858 non-null   object
 3   subvertical  2104 non-null   object
 4   city         2849 non-null   object
 5   investors    3005 non-null   object
 6   round        3027 non-null   object
 7   amount       3029 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 213.0+ KB

Remove the nan values from all the columns except subvertical

In [37]:
df = df.dropna(subset=['date','startup','vertical','city','investors','round','amount'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2818 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2818 non-null   datetime64[ns]
 1   startup      2818 non-null   object
 2   vertical     2818 non-null   object
 3   subvertical  2077 non-null   object
 4   city         2818 non-null   object
 5   investors    2818 non-null   object
 6   round        2818 non-null   object
 7   amount       2818 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.1+ KB

Now store the clean data into a file name called startup_cleaned.csv

In [39]:
df.to_csv('startup_cleaned.csv',index=False)